* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  height: auto;
  width: 100%;
}

body {
  box-sizing: inherit;
  width: 100%;
  font-family: Encode Sans, Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background: white;
  font-size: 18px;
  color: black;
}
